.list_container{
border: 2px solid blue;
display: flex;
flex-direction: row-reverse;
justify-content: center;


}

.form{
    margin-top: 3px;
    border:2px solid red;
}

.input{
    width: 80%;
    height: 10px;
    padding: 2px;
}

.cancel{
    margin-right: 3px;
}

.save{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    background-color: rgb(244, 201, 201);
    border: none;
}