.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 137, 137);
    padding: 5px;
    margin-top: 18px;
    text-align: center;
    color: rgb(25, 7, 7);
    font-weight: 500;
    margin-bottom: 10px;
    width: 96%;
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
    
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container button{
    border: none;
    font-size: 15px;
}
.icon{
    border: none;
    size: large;
}